textual==5.2.0
textual[syntax]>=0.51.0
aiofiles==24.1.0
aiologger==0.7.0
openai>=1.0.0
python-dotenv>=1.0.0
rich>=13.3.3
chromadb>=1.0.15
python-lsp-server>=1.7.0
git+https://github.com/alaviss/tree-sitter-nim.git